.emojis {
    &__section{
       width: 150px;
       height: 150px; 
    }
    
    &__list{
       list-style: none;
    }

    &__image{
        width: 100%;
    }

   &__content{
        height: 500%;
        display: flex;
   }

}