.emojis {
    
       width: 150px;
       height: 150px; 
       overflow: hidden;
       
    
    &__list{
       list-style: none;
       height: 20%;
       width: 100%;
       transition: all 0.3s ease;
    }

    &__image{
        width: 100%;
        height: 100%;

    }

   &__content{
        height: 500%;
        display: flex;
        flex-direction: column;
   }

}