.slider{
    height: 12px;
    width: 100%;
    background: #d9d9d9; 
    margin-top: 48px;
    position: relative;
    border-radius: 50px;
    & input{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        -webkit-appearance: none;
        outline: none;
        background: none;

        &::-webkit-slider-thumb{
            width: 25px;
            height: 25px;
            -webkit-appearance: none;
            background: none;
            cursor: pointer;
        }
    }
    
    & .progress-bar{
        width: 0%;
        height: 100%;
        background: linear-gradient(45deg, #fd8d58, #dc611e);
        border-radius: 50px;
    }

    & .thumb{
        width: 25px;
        height: 25px;
        background: #dc611e;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        transform: translate(-50%, -50%);
        padding: 2px;
        pointer-events: none;

        & span{
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, #fd8d58, #dc611e);
            border: 2px solid #f6f6f6;
            border-radius: 50%;
        }
    }
}