.wrapper{
    background: #f6f6f6;
    padding: 30px 40px;
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}